html {
    font-size: 125%; /* 20px */
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: $bodyFont;
    color: $bgColor;
    background-color: $bgColor;
}

.removeButton,
.nominateButton {
    @include buttonStyle();
}

.nominateButton:disabled,
.nominateButton:disabled:hover {
    background: lighten($bgColor, 50);
    color: $bgColor;
    cursor: default;
}

.removeButton:hover,
.nominateButton:hover,
.removeButton:focus,
.nominateButton:focus {
    background: $secondaryHeadingFontColor;
    color: $offWhiteColor;
    transition: all 0.4s;
}

.swal-text {
    font-family: $modalFont;
    color: $bgColor;
}

.swal-button {
    @include fontStyle ($bodyFont, $secondaryHeadingFontColor, 0.9rem);
    padding: 8px 13px;
    border-radius: 0.8rem;
    background-color: $offWhiteColor;
    border: 1px solid $bgColor;
    text-transform: uppercase;
}