html {
    font-size: 125%; /* 20px */
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

body {
    font-family: $bodyFont;
    color: $bgColor;
    background-color: $bgColor;
}

.removeButton,
.nominateButton {
    @include buttonStyle();
}

.removeButton:disabled,
.nominateButton:disabled {
    background: lighten($bgColor, 50);
    color: $bgColor;
}

.removeButton:hover,
.nominateButton:hover,
.removeButton:focus,
.nominateButton:focus {
    background: $secondaryHeadingFontColor;
    color: $offWhiteColor;
    transition: all 0.4s;
}