header {
    text-align: center;
    padding: 20px 0;
}

header p,
header h2 {
    @include fontStyle($headingFont, lighten($secondaryHeadingFontColor, 3), 1.75rem);
    padding: 20px 0;
}

h1 {
    @include fontStyle($bodyFont, $offWhiteColor, 3.5rem, 600);
    text-transform: uppercase;
    text-shadow:
    -0.02rem -0.02rem 0.07rem $headingFontColor,
    0.02rem 0.02rem 0.08rem $headingFontColor,
    0 0 0.2rem $headingFontColor,
    0 0 0.5rem $headingFontColor,
    0 0 0.7rem $headingFontColor,
    0 0 1rem $headingFontColor,
    0 0 1.2rem $headingFontColor
}



