.instructions {
    @include fontStyle($bodyFont, $offWhiteColor, 1.1rem);
}

.limitReached,
.errorMessage {
    color: $headingFontColor;
    margin: 20px 0 30px 0;
}

.limitReached {
    padding: 15px 0px 15px 0px;
    height: 20px;
}

.errorMessage {
    height: 30px;
}

/* Search Field */

.searchBar {
    position: relative;
}

input[type="text"] {
    @include fontStyle($bodyFont, $bgColor, 1.1rem);
    padding: 10px 10px 10px 60px;
    width: 100%;
    margin: 10px 0;
    &:focus {
        background-color: lighten($headingFontColor, 30);
    }
}

.magnifyingGlass {
    position: absolute;
    left: 18px;
    top: 28px;
    color: lighten($bgColor, 25);
    font-size: 1.2rem;
}

/* Results and Nominations Containers */

h3 {
    @include fontStyle ($bodyFont, $bgColor, 1.6rem);
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.resultsContainer,
.nominationsContainer {
    border: 1px solid $bgColor;
    width: calc(50% - 35px);
    background: $offWhiteColor;
    min-height: 270px;
}

.resultsContainer {
    margin-right: 35px;
    position: relative;
}

.nominationsContainer {
    margin-left: 35px;
}

.resultsContainer h3,
.nominationsContainer h3,
.nominationChoice,
.resultOption {
    filter: drop-shadow(0px 0px 5px #666);
    background: $offWhiteColor;
    padding: 15px;
}

/* Loader gif within results container */

.show {
    display: inline-block;
}

.hide {
    display: none;
}

.search-loading {
    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;
}