.instructions {
    @include fontStyle($bodyFont, $offWhiteColor, 1.1rem, 400, 2rem);
    height: 70px;
    text-align: center;
}

.limitReached,
.message {
    color: $headingFontColor;
    text-align: center;
}

.limitReached {
    padding: 0px 0px 15px 0px;
}

.message {
    height: 50px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.resultsContainer,
.nominationsContainer {
    border: 1px solid $bgColor;
    width: calc(50% - 20px);
    background: $offWhiteColor;
    min-height: 270px;
}

.resultsContainer {
    margin-right: 20px;
}

.nominationsContainer {
    margin-left: 20px;
}

.resultsContainer {
position: relative;
}

/* Loader */
.search-loading {
position: absolute;
top: 150px;
left: 0;
right: 0;
margin: auto;
}

/* Show and Hide */
.show {
display: inline-block;
}

.hide {
display: none;
}

// Form
label {
    position: relative;
}

input[type="text"] {
    @include fontStyle($bodyFont, $bgColor, 1.1rem);
    padding: 10px 10px 10px 60px;
    width: 100%;
    margin: 20px 0 30px 0;
}

.magnifyingGlass {
    position: absolute;
    left: 18px;
    top: 5px;
    color: lighten($bgColor, 40);
    font-size: 1.2rem;

}

// Nominations

.resultsContainer h2,
.nominationsContainer h2,
.nominationChoice,
.resultOption {
    text-align: center;
    filter: drop-shadow(0px 0px 5px #666);
    background: $offWhiteColor;
    padding: 15px 0;
}