@media (max-width: 768px) {
    .flexContainer {
        flex-direction: column;
    }
    
    .resultsContainer,
    .nominationsContainer {
        width: 100%;
        margin: 0 0 20px 0;
        h3 {
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 3.1rem;
    }
    header p,
    header h2 {
        font-size: 1.5rem;
    }
}