.flexContainer {
  display: flex;
}

.resultsContainer,
.nominationsContainer {
  border: 1px solid black;
  width: 50%;
}

.resultsContainer {
  position: relative;
}

/* Loader */
.search-loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/* Show and Hide */
.show {
  display: inline-block;
}

.hide {
  display: none;
}
